absl-py==2.1.0
acres==0.2.0
agno==1.4.6
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp-retry==2.8.3
aioice==0.9.0
aiolimiter==1.2.1
aiortc==1.9.0
aiosignal==1.3.2
aiosqlite==0.20.0
ale-py==0.10.1
alembic==1.14.0
altair==5.5.0
angelcommunity==2.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
anytree==2.12.1
appdirs==1.4.4
art==6.2
ascii_colors==0.5.2
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
auth0-python==4.7.2
autograd==1.7.0
av==12.3.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
bimlpa==0.1.2
bitsandbytes==0.45.1
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
blobfile==3.0.0
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
cdlib==0.4.0
cerebras_cloud_sdk==1.8.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==1.0.5
ci-info==0.3.0
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.0
coacd==1.0.5
cohere==5.11.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
compressed-tensors==0.6.0
comtypes==1.4.7
confection==0.1.5
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
coverage==7.8.0
cryptography==43.0.3
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
datasets==2.14.7
debugpy==1.8.7
decorator==5.1.1
decord==0.6.0
deepeval==2.1.1
deepsearch-glm==1.0.0
defusedxml==0.7.1
demon==2.0.6
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docker-pycreds==0.4.0
docling==2.17.0
docling-core==2.16.1
docling-ibm-models==3.3.0
docling-parse==3.1.2
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.8
duckduckgo_search==7.3.1
durationpy==0.9
dynetx==0.3.2
easyocr==1.7.2
einops==0.8.0
encodec==0.1.1
et_xmlfile==2.0.0
etelemetry==0.3.1
etils==1.9.4
eva-lcd==0.1.1
execnet==2.1.1
executing==2.1.0
faiss-cpu==1.9.0.post1
Farama-Notifications==0.0.4
fast-graphrag==0.0.5
fastapi==0.115.9
fastavro==1.9.7
fastjsonschema==2.21.1
ffmpy==0.5.0
filetype==1.2.0
fire==0.6.0
fitz==0.0.1.dev2
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.1
freetype-py==2.5.1
frontend==0.0.3
frozenlist==1.6.0
fsspec==2023.10.0
future==1.0.0
gast==0.6.0
genesis-world==0.2.0
gensim==4.3.3
gguf==0.10.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.7.0
google-api-core==2.24.2
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-genai==1.11.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gptcache==0.1.44
gradio==5.13.1
gradio_client==1.6.0
gradio_webrtc==0.0.29
graspologic==3.4.1
graspologic-native==1.2.3
greenlet==3.1.1
groq==0.15.0
grpc-google-iam-v1==0.13.1
grpcio==1.60.1
grpcio-status==1.71.0
grpcio-tools==1.67.1
gTTS==2.5.4
h11==0.16.0
h2==4.1.0
h5py==3.11.0
hnswlib==0.8.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
humanfriendly==10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperframe==6.0.1
hyppo==0.4.0
idna==3.10
ifaddr==0.2.0
igraph==0.11.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.4.0
importlib_resources==6.4.5
iniconfig==2.1.0
instructor==1.7.9
intel-openmp==2021.4.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
isodate==0.6.1
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.1
jiter==0.9.0
joblib==1.4.2
json_repair==0.39.1
jsonlines==3.1.0
jsonpatch==1.33
jsonpickle==3.4.2
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
keras==3.5.0
kiwisolver==1.4.7
kubernetes==31.0.0
lancedb==0.15.0
langchain==0.3.7
langchain-cerebras==0.4.0
langchain-chroma==0.1.4
langchain-cohere==0.3.1
langchain-community==0.3.5
langchain-core==0.3.28
langchain-experimental==0.3.3
langchain-google-genai==2.0.7
langchain-mongodb==0.2.0
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langcodes==3.5.0
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-checkpoint-sqlite==2.0.1
langgraph-sdk==0.1.48
langsmith==0.1.139
language_data==1.3.0
lark==1.2.2
lazy_loader==0.4
Levenshtein==0.27.1
libclang==18.1.1
libigl==2.5.1
librosa==0.10.2.post1
lightning==2.3.3
lightning-utilities==0.14.3
-e git+https://github.com/HKUDS/LightRAG.git@75b5739f817a0e142f3387884349310a4b8f797a#egg=lightrag_hku
llama_models==0.0.36
llama_stack==0.0.36
llvmlite==0.43.0
lm-format-enforcer==0.10.6
loguru==0.7.3
looseversion==1.3.0
lxml==5.3.0
Mako==1.3.6
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mcp==1.6.0
mcp-server-git==2025.1.14
mdurl==0.1.2
mistral_common==1.4.4
mistune==3.1.0
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml-dtypes==0.4.1
mmh3==5.0.1
monotonic==1.6
moviepy==2.1.1
mpire==2.10.2
msgpack==1.1.0
msgspec==0.18.6
mujoco==3.2.5
multidict==6.4.3
multiprocess==0.70.15
murmurhash==1.0.12
mypy==1.15.0
mypy-extensions==1.0.0
namex==0.0.8
nano-vectordb==0.0.4.3
narwhals==1.23.0
nba_api==1.9.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
nibabel==5.3.2
ninja==1.11.1.3
nipype==1.9.2
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy==1.26.4
nvidia-ml-py==12.560.30
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.19.2
onnxruntime-gpu==1.20.1
openai==1.75.0
opencv-python==4.11.0.86
OpenEXR==3.3.2
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.53b1
opt-einsum==3.3.0
optimum==1.23.1
optree==0.12.1
optype==0.9.3
orjson==3.10.11
outcome==1.3.0.post0
outlines==0.0.46
overrides==7.7.0
packaging==24.2
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp312-cp312-win_amd64.whl#sha256=2c8058e41dda2e7ecfff0740ad1d98f17d528c740f71b038c523a9d24d2321b0
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
partial-json-parser==0.2.1.1.post4
pathlib==1.0.1
pathspec==0.12.1
patsy==1.0.1
pickleshare==0.7.5
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
pipmaster==0.4.0
pipreqs==0.5.0
platformdirs==4.3.6
playsound==1.3.0
plotly==5.24.1
pluggy==1.5.0
polars==1.10.0
pooch==1.8.2
portalocker==2.10.1
posthog==3.11.0
POT==0.9.5
pprintpp==0.4.0
preshed==3.0.9
primp==0.12.0
proglog==0.1.10
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.25.7
prov==2.0.1
PuLP==3.1.1
pulsar-client==3.5.0
pure_eval==0.2.3
puremagic==1.28
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycollada==0.8
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic @ file:///C:/b/abs_27dx58x550/croot/pydantic_1734736090499/work
pydantic-settings==2.9.1
pydantic_core @ file:///C:/b/abs_bdosz7qwys/croot/pydantic-core_1734726071532/work
pydeck==0.9.1
pydot==3.0.1
pydot-ng==2.0.0
pydub==0.25.1
pyee==12.1.1
pygame==2.6.1
PyGEL3D==0.5.2
pyglet==2.0.20
pygltflib==1.16.0
Pygments==2.19.1
pylance==0.19.1
pylibsrtp==0.10.0
pymeshlab==2023.12.post2
pymongo==4.9.1
PyMuPDF==1.25.1
pynndescent==0.5.13
PyOpenGL==3.1.7
pyOpenSSL==25.0.0
pyparsing==3.2.3
pypdf==5.1.0
pypdfium2==4.30.1
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.388
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
pytest-repeat==0.9.3
pytest-xdist==3.6.1
python-bidi==0.6.3
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-docx==1.1.2
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
python-igraph==0.11.8
python-Levenshtein==0.27.1
python-louvain==0.16
python-multipart==0.0.20
python-pptx==1.0.2
pytorch-lightning==2.5.1
pyttsx3==2.98
pytube==15.0.0
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pyvips==2.2.3
pyvis==0.3.2
pyvista==0.44.2
pywin32==307
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
qdrant-client==1.12.1
ragas==0.2.13
rank-bm25==0.2.2
RapidFuzz==3.13.0
ray==2.37.0
rdflib==6.3.2
regex==2024.11.6
relik==1.0.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9
Rtree==1.3.0
ruff==0.9.3
sacremoses==0.1.1
safehttpx==0.1.6
safetensors==0.4.5
schema==0.7.7
scikit-image==0.25.0
scikit-learn==1.5.2
scipy==1.15.1
scipy-stubs==1.15.2.2
scooby==0.10.0
screeninfo==0.8.1
seaborn==0.13.2
selenium==4.25.0
semantic-version==2.10.0
semchunk==2.2.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==2.19.2
setproctitle==1.3.5
setuptools==75.2.0
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
srsly==2.5.1
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.4
streamlit==1.41.1
swig==4.2.1
sympy==1.13.1
tabulate==0.9.0
taichi==1.7.2
tbb==2021.13.1
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
tetgen==0.6.4
texttable==1.7.0
tf_keras==2.17.0
thinc==8.2.5
threadpoolctl==3.5.0
thresholdclustering==1.1
tifffile==2024.12.12
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.2.1
tomli_w==1.1.0
tomlkit==0.13.2
torch==2.3.1
torch-tb-profiler==0.4.3
torchaudio==2.6.0+cu124
torchmetrics==1.7.1
torchvision==0.21.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
transformers==4.41.2
trio==0.26.2
trio-websocket==0.11.1
twilio==9.4.3
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ultralytics==8.3.67
ultralytics-thop==2.0.8
umap-learn==0.5.7
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.4.0
uv==0.4.30
uvicorn==0.34.2
vertexai==1.71.1
vllm==0.6.3.post1
vocos==0.1.0
voyageai==0.3.2
vtk==9.3.1
wandb==0.17.9
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
win32_setctime==1.2.0
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.2
xxhash==3.5.0
yarg==0.1.9
yarl==1.20.0
z3-solver==4.13.2.0
zipp==3.21.0
pytest>=7.0.0
pytest-asyncio>=0.20.0
