.scope ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scope ::-webkit-scrollbar-track {
  background: transparent;
}

.scope ::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100px;
}

.scope:hover ::-webkit-scrollbar-thumb {
  background: rgba(41, 41, 41, 0.18);
}

.scope ::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 41, 41, 0.3);
}

.scope,
.scope * {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scope *:hover {
  scrollbar-color: rgba(41, 41, 41, 0.18) transparent;
}
